.App {
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  > div {
    margin: 1em;
    border: 1px solid black;
  }
}

.pizza-builder {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
